@use '../theme' as thm;
@use 'sass:map';

//********************************
//* UTILITIES
//********************************
.container {
    margin-block-start: 5rem;
    margin-inline: auto;
    inline-size: clamp(32rem, 90%, 94rem);
    @include thm.mx-query($device: 'tablet', $size: 'md') {
        margin-block-start: 50vh;
        block-size: 50.5rem;
        transform: translateY(-50%);
    }
}

.button {
    display: inline-block;
    margin-block: 2rem;
    padding: .8rem 2.5rem;
    font: {
        family: map.get(thm.$ff, 'text');
        size: 1.5rem;
    }
    text: {
        decoration: none;
        transform: capitalize;
    }
    line-height: 1.8;
    border: .2rem solid map.get(thm.$clr, 'gray-100');
    border-radius: 2.5rem;
    background-color: map.get(thm.$clr, 'gray-100');
    cursor: pointer;
    @include thm.mx-query($device: 'tablet', $size: 'md') {
        position: absolute;
        inset-inline-start: 4.5rem;
        inset-block-end: 2.8rem;
    }
}

.card__box {
    @at-root {
        &--sedans > .button { color: map.get(thm.$clr, 'orange'); }

        &--suvs > .button { color: map.get(thm.$clr, 'cyan-100'); }

        &--luxury > .button { color: map.get(thm.$clr, 'cyan-200'); }
    }
}