@use '../theme' as thm;
@use 'sass:map';

//********************************
//* .CARD-CONTAINER
//********************************
.card-container {
    border-radius: .5rem;
    overflow: hidden;
    @include thm.mx-query($device: 'tablet', $size: 'sm') {
        @include thm.mx-grid($rows: repeat(2, 1fr), $cols: repeat(2, auto));
        block-size: 100%;
    }
    @include thm.mx-query($device: 'tablet', $size: 'md') {
        @include thm.mx-grid($rows: repeat(1, 1fr), $cols: repeat(3, 1fr));
    }

    @at-root {
        .card__box {
            padding: 4rem 3rem;
            @include thm.mx-query($device: 'tablet', $size: 'md') {
                position: relative;
                padding: 4rem 4.5rem;
            }
            @include thm.mx-flexbox($dir: column, $al-items: flex-start, $jt-content: center);
            @include thm.mx-query($device: 'tablet', $size: 'md') {
                @include thm.mx-flexbox($jt-content: flex-start);
            }

            @at-root {
                &--sedans { background-color: map.get(thm.$clr, 'orange'); }

                &--suvs { background-color: map.get(thm.$clr, 'cyan-100'); }

                &--luxury { 
                    background-color: map.get(thm.$clr, 'cyan-200'); 
                    @include thm.mx-query($device: 'tablet', $size: 'sm') {
                        grid-column: 1 / -1;
                    }
                    @include thm.mx-query($device: 'tablet', $size: 'md') {
                        grid-column: unset;
                    }
                }
            }
        }

        .card__image {
            img { width: 8rem; }
        }
    }
}

//********************************
//* .ATTRIBUTION
//********************************
.attribution {
    margin-block: 2.2rem;
    font: {
        family: map.get(thm.$ff, 'text');
        size: 1.4rem;
    }
    text-align: center;

    > a {
        color: map.get(thm.$clr, 'cyan-100');
    }
}
